//============================================================
// Type Scale
//============================================================
$fontsize-small: .844rem;
$fontsize-base: 1.125rem;
$fontsize-1: 1.999rem;
$fontsize-2: 3.552rem;
$fontsize-3: 4.735rem;
$fontsize-4: 6.312rem;
//============================================================
// Page Header
//============================================================
header { padding: 2rem; }
.header-img { width: 100%; height: auto; }
.title { font-size: $fontsize-4; margin-left: 2rem; }
.subtitle { font-size: $fontsize-1; margin-left: 4rem; }
@media screen and (max-width: 790px) {
    .title { font-size: $fontsize-3; }
}
//============================================================
// Scrape Button
//============================================================
.scrape-btn { margin: 4rem 0; }
//============================================================
// Main
//============================================================
article { 
    max-width: 40rem;
    margin: 1rem auto;
    padding: .5rem;
    h1 { font-size: $fontsize-1; }
    a { font-size: $fontsize-base; font-weight: bold; }
    .comment--section { 
        margin-top: 3rem;
        h2 { font-size: $fontsize-base; text-align: left; margin-left: .5rem; font-weight: bold; } 
        .comment { 
            border: 1px solid black; 
            margin: 1rem auto; 
            max-width: 95%;
            text-align: left;
            .delete-btn { display: block; }
            p { margin-top: .5rem; padding: .5rem; }
        }
        .comment-btn-wrapper { 
            .post-comment-btn { margin-bottom: .5rem; }
        }
    }
}
//============================================================
// Footer
//============================================================
footer { margin-top: 5rem; }


